Keras==2.2.0
Keras-Applications==1.0.2
Keras-Preprocessing==1.0.1
nbconvert==5.5.0
nbformat==4.4.0
networkx==2.3
nltk==3.4.4
notebook==5.7.8
numpy==1.16.4
opencv-python==4.1.0.25
opt-einsum==3.1.0
pandas==0.24.2
pandocfilters==1.4.2
Pillow==6.0.0
requests==2.22.0
requests-futures==1.0.0
scikit-image==0.15.0
scikit-learn==0.21.3
scipy==1.1.0
seaborn==0.9.0
tensorboard==1.7.0
tensorflow==1.7.0
tensorflow-estimator==2.0.0
tensorflow-hub==0.6.0
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
thinc==7.1.1
tqdm==4.32.1
torch==1.12.0+cu113
torchvision==0.13.0+cu113
torchaudio==0.12.0
torchtext=0.130
